<div class="container">
    <h1>Login</h1>

    <div ng-show="model.error && login.$valid" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="login.$invalid && login.$submitted" class="alert alert-danger" >
        Please correct the errors and submit again.
    </div>

    <form name="login" novalidate>

        <label for="username">Username</label>
        <input ng-model="user.username"
               id="username" type="text"
               name="username"
               class="form-control"
               placeholder="username"
               required/>

        <div ng-show="login.$submitted && login.username.$invalid" class="sgn-error">
            Username Required
        </div>

        <label for="password">Password</label>
        <input ng-model="user.password"
               id="password"
               name="password"
               type="password"
               class="form-control"
               placeholder="password"
               required/>
        <div ng-show="login.$submitted && login.password.$invalid" class="sgn-error">
            Password Required
        </div>

        <button id = "login-button"
           class="btn btn-primary btn-block"
           type="submit"
           ng-click="model.login(user)">
            Login</button>

        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus fa-spin"></span>

        </a>

        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook fa-spin"></span>
        </a>


        <a id="register-button" class="btn btn-success btn-block"
           href="#/register">Register</a>

    </form>

</div>
