<nav class="navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-10 navbar-brand">Profile</div>

        <div class="col-xs-2">
            <p class="navbar-text pull-right">
                <a href="profile.view.client.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

    <div class="container sgn-bottom-padding">

        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="your_email@domain.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last Name">
            </div>
        </form>

        <a class="btn btn-info btn-block"
           href="../../website/templates/website-list.view.client.html">Websites</a>

        <a class="btn btn-danger  btn-block"
           href="#/login">Logout</a>

    </div>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <span class="glyphicon glyphicon-user"></span>
        </p>
    </div>
</nav>
