<nav class="navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-10 navbar-brand">Profile</div>

        <div class="col-xs-2">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container sgn-bottom-padding">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>


    <form>

        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text" class="form-control"
                   id="username" placeholder="Username">
        </div>


        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   type="text" class="form-control"
                   id="email" placeholder="your_email@domain.com">
        </div>


        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text" class="form-control"
                   id="first-name" placeholder="First Name">
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text" class="form-control"
                   id="last-name" placeholder="Last Name">
        </div>


        <div class="form-group">
            <label for="email">Phone Number</label>
            <input ng-model="model.user.phone"
                   type="text" class="form-control"
                   id="phone" placeholder="your 10 digit number">
        </div>

    </form>

    <a class="btn btn-info btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>

    <a class="btn btn-success btn-block"
       ng-click="model.update(model.user)">Update</a>


    <a class="btn btn-warning btn-block"
       ng-click="model.deleteUser()">Delete</a>


    <a class="btn btn-danger  btn-block"
       href="#/login">Logout</a>

</div>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <a href="#/user/{{model.user._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>