
<nav class=" navbar-default navbar-fixed-top  ">
    <div class="row container-fluid">
        <div class="col-xs-10">
            <p class="navbar-brand pull-left">
                <a href="../../views/website/templates/website-list.view.client.html">
                  <span class="glyphicon glyphicon-chevron-left default-glyphicon">
                  </span>
                </a>
                <span>Pages</span>
            </p>
        </div>
        <div class="col-xs-2">
            <p class="navbar-brand pull-right">
                <a href="page-new.view.client.html">
                  <span class="glyphicon glyphicon-plus default-glyphicon">
                  </span>
                </a>
            </p>
        </div>
    </div>

</nav>

<div class=" container-fluid sgn-required-top-padding">
    <p class="form-control">
        <a href="../../views/widget/templates/widget-list.html" for="BlogPost">Blog Post</a>

        <a class=" pull-right"  id="BlogPost" href="page-edit.view.client.html" >
            <span  class="glyphicon glyphicon-cog "></span></a>
    </p>
</div>


<div class=" container-fluid ">
    <p class="form-control">
        <a href="../../views/widget/templates/widget-list.html" for="Blog">Blog</a>

        <a class=" pull-right"  id="Blog" href="page-edit.view.client.html" >
            <span  class="glyphicon glyphicon-cog "></span></a>
    </p>
</div>

<div class=" container-fluid ">
    <p class="form-control">
        <a href="../../views/widget/templates/widget-list.html" for="Home">Home</a>

        <a class=" pull-right"  id="Home" href="page-edit.view.client.html" >
            <span  class="glyphicon glyphicon-cog "></span></a>
    </p>
</div>

<div class=" container-fluid ">
    <p class="form-control">
        <a href="../../views/widget/templates/widget-list.html" for="About">About</a>

        <a class=" pull-right"  id="About" href="page-edit.view.client.html" >
            <span  class="glyphicon glyphicon-cog "></span></a>
    </p>
</div>

<div class=" container-fluid ">
    <p class="form-control">
        <a href="../../views/widget/templates/widget-list.html" for="ContactUs">Contact Us</a>

        <a class=" pull-right"  id="ContactUs" href="page-edit.view.client.html" >
            <span  class="glyphicon glyphicon-cog "></span></a>
    </p>
</div>



<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <a href="../../views/user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span></a>
        </p>
    </div>
</nav>

