<nav class="navbar-default navbar-fixed-top container-fluid ">

    <p class="navbar-brand pull-left sgn-no-left-padding">
        <a href="widget-list.html" class="glyphicon glyphicon-chevron-left default-glyphicon"></a>
        <span>Widget Chooser</span>
    </p>


</nav>


<div class="container-fluid sgn-custom-font sgn-bottom-padding ">



    <div class="  sgn-required-padding">
        <a href="widget-heading.html"  >Header</a>
    </div>

    <div class=" sgn-required-padding">
        <a href="#" >Label</a>
    </div>

    <div class="sgn-required-padding">
        <a href="#" >HTML</a>
    </div>

    <div class="sgn-required-padding">
        <a href="#" >Text Input</a>
    </div>

    <div class="sgn-required-padding">
        <a href="#" >Link</a>
    </div>

    <div class="sgn-required-padding">
        <a href="#" >Button</a>
    </div>

    <div class="sgn-required-padding">
        <a href="widget-image.html" >Image</a>
    </div>

    <div class="sgn-required-padding">
        <a href="widget-youtube.html" >YouTube</a>
    </div>

    <div class="sgn-required-padding">
        <a href="#" >Data Table</a>
    </div>

    <div class="sgn-required-padding">
        <a href="#" >Repeater</a>
    </div>

</div>


<nav class="navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-brand pull-right">
                <a href="../../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span></a>
            </p>
        </div>
    </nav>
