<nav class="navbar-default navbar-fixed-top container-fluid ">

    <p class="navbar-brand pull-left sgn-no-left-padding">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
           class="glyphicon glyphicon-chevron-left default-glyphicon"></a>
        <span>Widget Chooser</span>
    </p>

</nav>


<div class="container-fluid sgn-custom-font sgn-bottom-padding ">



    <div class="  sgn-required-padding">
        <a ng-click="model.createNewWidget('HEADING')">Header</a>
    </div>

    <div class=" sgn-required-padding">
        <a >Label</a>
    </div>

    <div class="sgn-required-padding">
        <a ng-click="model.createNewWidget('HTML')" >HTML</a>
    </div>

    <div class="sgn-required-padding">
        <a ng-click="model.createNewWidget('TEXT')" >Text Input</a>
    </div>

    <div class="sgn-required-padding">
        <a  >Link</a>
    </div>

    <div class="sgn-required-padding">
        <a  >Button</a>
    </div>

    <div class="sgn-required-padding">
        <a ng-click="model.createNewWidget('IMAGE')" >Image</a>
    </div>

    <div class="sgn-required-padding">
        <a ng-click="model.createNewWidget('YOUTUBE')" >YouTube</a>
    </div>

    <div class="sgn-required-padding">
        <a  >Data Table</a>
    </div>

    <div class="sgn-required-padding">
        <a >Repeater</a>
    </div>

</div>


<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
