<nav class="navbar-default navbar-fixed-top container-fluid ">

    <p class="navbar-brand pull-left sgn-no-left-padding">
        <a href="widget-list.html" class="glyphicon glyphicon-chevron-left"></a>
        <span>Widget Edit</span>
    </p>
    <p class="navbar-brand pull-right">
        <a href="widget-list.html" class="glyphicon glyphicon-ok"></a>
    </p>

</nav>


<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name" type="text"
           class="form-control"
           placeholder="Page Name"/>

    <label for="text">Text</label>
    <input id="text" type="text"
           class="form-control"
           placeholder="Widget Text"/>

    <label for="url">URL</label>
    <input type="url" id="url" class="form-control">

    <label for="width">Width</label>
    <input class="form-control " min="0" id="width" type="text">

    <label for="upload-button">Upload</label>
    <input class="form-control " id="upload-button" type="file">

    <label for="upload"></label>
    <a id="upload" class="btn btn-primary btn-block"
       href="widget-list.html">Upload Image</a>

    <label for="delete"></label>
    <a id="delete" class="btn btn-danger btn-block"
       href="widget-list.html">Delete</a>

</div>


<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span></a>
        </p>
    </div>
</nav>
