
<nav class="navbar-default navbar-fixed-top container-fluid ">

    <p class="navbar-brand pull-left sgn-no-left-padding">
        <a href="widget-list.html" class="glyphicon glyphicon-chevron-left"></a>
        <span>Widget Edit</span>
    </p>
    <p class="navbar-brand pull-right">
        <a href="widget-list.html" class="glyphicon glyphicon-ok"></a>
    </p>

</nav>


<div class="container-fluid sgn-bottom-padding sgn-required-padding">
    <label for="name">Name</label>
    <input id="name" type="text"
           class="form-control"
           placeholder="Widget Name"/>

    <label for="text">Text</label>
    <input id="text" type="text"
           class="form-control"
           placeholder="Widget Text"/>

    <label for="url">URL</label>
    <input type="url" id="url" class="form-control" placeholder="youtube url">

    <label for="width">Width</label>
    <input class="form-control" min="0" id="width" type="number">


    <label for="delete-button"></label>
    <a id="delete-button" class="btn btn-danger btn-block"
       href="widget-list.html">Delete</a>

</div>


<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span></a>
        </p>
    </div>
</nav>

