<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand pull-left">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}/website/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand sgn-no-left-padding wbdv-no-left-margin">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid sgn-bottom-padding sgn-required-padding">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    Name
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/website/new" class="pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </li>

        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">

                <div class="col-xs-10">
                    {{website.name}}
                </div>

                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>

            </div>
        </li>
    </ul>
</div>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
