<div>
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               name = "name"
               value="{{model.widget.name}}"
               id="name" type="text"
               name="filename"
               class="form-control"
               placeholder="Page Name"/>

        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               name = "text"
               id="text" type="text"
               class="form-control"
               placeholder="Widget Text"/>

        <label for="url">URL</label>
        <input ng-model="model.widget.url"
               type="url" id="url"
               name = "url"
               value="{{model.widget.url}}"
               class="form-control">

        <label for="width">Width</label>
        <input ng-model="model.widget.width"
               class="form-control "
               min="0" name="width"
               value="{{model.widget.width}}"
               id="width" type="text">

        <label for="upload-button">Upload</label>
        <input class="form-control "
               id="upload-button"
               name = "myFile"
               type="file">

        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>



        <label for="upload"></label>
        <button type="submit"
                id="upload"
                class="btn btn-primary btn-block">
            Upload Image
        </button>


        <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr"
                class="btn btn-primary btn-block">
            Search Image
        </a>


    </form>

</div>