<div>
    <label for="name">Name</label>
    <input id="name" type="text"
           class="form-control"
           placeholder="Page Name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           id="text" type="text"
           class="form-control"
           placeholder="Widget Text"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url"
           type="url" id="url"
           class="form-control">

    <label for="width">Width</label>
    <input ng-model="model.widget.width"
           class="form-control "
           min="0" id="width" type="text">

    <label for="upload-button">Upload</label>
    <input class="form-control "
           id="upload-button"
           type="file">

    <label for="upload"></label>
    <a id="upload" class="btn btn-primary btn-block"
       href="widget-list.html">Upload Image</a>

</div>