
<nav class="navbar-default navbar-fixed-top container-fluid ">

    <p class="navbar-brand pull-left sgn-no-left-padding">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
           class="glyphicon glyphicon-chevron-left default-glyphicon">
        </a>
        <span>Edit Page</span>
    </p>

    <p class="navbar-brand pull-right">
        <a ng-click="model.updatePage(model.page)"
           class="glyphicon glyphicon-ok default-glyphicon">
        </a>
    </p>

</nav>


<div class="container-fluid sgn-required-padding sgn-required-top-margin sgn-bottom-padding">


    <div  ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.success" class="alert alert-success" >
        {{model.success}}
    </div>



    <label for="name">Name</label>
    <input ng-model="model.page.name"
           id="name" type="text"
           class="form-control"
           placeholder="Page Name"/>

    <label for="title">Title</label>
    <input ng-model="model.page.description"
           id="title" type="text"
           class="form-control"
           placeholder="Page Title"/>


    <a ng-click="model.updatePage(model.page)" class="btn btn-success  btn-block">
        Update
    </a>

    <a ng-click="model.deletePage()" class="btn btn-danger btn-block">
        Delete
    </a>

</div>


<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

